html, body { 
    height: 100%;
}

.header {
    width: 100%;
    height: 10%;
}

.video-list {
    width: 90%;
    height: 100%;
    list-style: none;
    text-align: center;
}

.video-list > li {
    width: 100%;
    height: 50%;
    margin: 10px;
}

.video {
    width: 100%;
    height: 100%;
}
